:root {
  --primary-color: rgb(229, 9, 20);
  --dark-color: #141414;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background: #000;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  /* border: 1px solid red; */
  background: url('background.jpg') no-repeat center center/cover;
}

.container svg {
  width: 9.25rem;
  height: 2.5rem;
  position: absolute;
  top: 8%;
  left: 18%;
  color: var(--primary-color);
  fill: currentColor;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  /* box-shadow: inset 30px 30px 500px #000000, inset -30px -30px 500px #000000; */
}

.login {
  color: #fff;
  text-align: center;
  /* width: 100%; */
  max-width: 470px;
  position: absolute;
  height: 120vh;
  top: 20%;
  /* left: 33%; */
  z-index: 2;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  /* border: 1px solid red; */
}

form {
  text-align: center;
  padding: 70px;
}

form h1 {
  text-align: left;
  margin-bottom: 30px;
  margin-top: -10px;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  height: 3.2rem;
  padding: 15px;
  border: 2px solid rgba(102, 98, 98, 0.979);
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  background: inherit;
  color: #fff;
}

.sign,
.use-code {
  width: 100%;
  height: 2.6rem;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: opacity 0.2s ease-in;
}

.sign {
  background: var(--primary-color);
}

.use-code {
  background: rgba(66, 65, 65, 0.6);
}

.sign:hover,
.use-code:hover {
  opacity: 0.9;
}

.or {
  margin-top: 20px;
  margin-bottom: 20px;
}

form a.forgot {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
  display: block;
}

form a:hover {
  text-decoration: underline;
}

.netflix {
  text-align: left;
}

label {
  font-size: 16px;
}

input[type='checkbox'] {
  /* appearance: none;
  background: #fff; */
  border-radius: 3px;
  margin-right: 8px;
  font-size: 14px;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  border: none;
}

.netflix p {
  color: #999;
  font-size: 16px;
}

.netflix p:nth-child(3) {
  margin-top: 20px;
  margin-bottom: 25px;
}

.netflix p a {
  color: #fff;
  text-decoration: none;
  margin-left: 3px;
}

.netflix p:nth-child(4) {
  font-size: 13px;
}

.netflix p:nth-child(4) a {
  color: #0071eb;
}

.netflix p:nth-child(4) a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (min-width: 600px) and (max-width: 1300px) {
  .login {
    width: 470px;
  }
}

@media screen and (max-width: 1268px) {
  .container svg {
    top: 8%;
    left: 8%;
  }
}

@media screen and (max-width: 960px) {
  .container svg {
    width: 7.25rem;
    height: 1.5rem;
    left: 19%;
  }
}

@media screen and (max-width: 599px) {
  .container svg {
    width: 7.25rem;
    height: 1.5rem;
    left: 20%;
  }

  .login {
    max-width: 800px;
    top: 5%;
  }

  .container {
    background: none;
  }
}

@media screen and (max-width: 500px) {
  .container svg {
    left: 25%;
  }
}
