* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
  margin-bottom: 20px;
  /* position: fixed; */
  background-color: #395143;
  width: 100%;
  z-index: 1000;
  color: #fff;
  top: 0;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

nav h1 {
  font-size: 40px;
  font-weight: 500;
}

nav .logo-2 {
  display: none;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 10px;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  transition: color 0.5s, font-size 0.5s;
}

nav ul li a:hover {
  color: #cad5d3;
  font-size: 21px;
}

nav ul li a.icons {
  color: #fff;
}

.icons {
  text-decoration: none;
  font-size: 30px;
  color: #374e40;
  transition: font-size 0.5s;
}

.icons:hover {
  font-size: 35px;
  color: #a8baa5;
}

nav > a {
  font-size: 35px;
  color: #fff;
  display: none;
}

.main-container {
  width: 90%;
  margin: auto;
}

.hero {
  /* padding-top: 10px; */
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  height: 250px;
  justify-content: space-around;
}

.hero-info {
  width: 50%;
  font-size: 20px;
}

.hero-info-2 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 300;
}

/*----------------The About Section --------------*/
.about {
  height: 450px;
  text-align: center;
}

.about::before {
  content: '';
  display: block;
  height: 80px; /* Height of the fixed nav */
  margin-top: -100px;
  visibility: hidden;
}

.about h1 {
  font-size: 40px;
  font-weight: 500;
  color: #152522;
}

.about p.about-info {
  width: 60%;
  margin: auto;
  font-size: 20px;
}

button {
  margin-top: 20px;
  background-color: #395143;
  padding: 5px;
  border-radius: 5px;
  border: none;
  transition: background-color 2s;
}

button:hover {
  background-color: #828e8c;
}

button a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 3px;
  color: #fff;
}

/* ---------------The Skills Section-------------------*/

.skills {
  text-align: center;
  height: 450px;
  /* border: 1px solid red; */
}

.skills h1 {
  font-size: 40px;
  font-weight: 500;
  color: #152522;
}

.skills > p {
  font-size: 22px;
}

.skills div.skill-details {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  /* border: 1px solid green; */
}

.section {
  /* border: 1px solid red; */
  width: 40%;
}

.section div {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
}

.section div span.logo {
  font-size: 45px;
  color: #395143;
  margin-right: 10px;
  /* border: 1px solid red; */
}

.section div div {
  display: block;
  flex: 1;
}

.section div div p {
  width: 20%;
  font-size: 18px;
}

input[type='range'] {
  /* -webkit-appearance: none; */
  appearance: none;
  background: #395143;
  cursor: pointer;
  width: 100%;
  height: 0.5rem;
  border-radius: 3px;
}

progress {
  appearance: none;
  cursor: pointer;
  width: 100%;
  height: 0.7rem;
  border-radius: 5px;
  background: #fff;
}

progress::-moz-progress-bar {
  background: #395143;
}

/*-------------Services Section--------------------*/
.services {
  text-align: center;
  height: 780px;
  border-bottom: 2px solid #374e40;
}

#services,
#contact {
  scroll-margin-top: 80px;
}

.services h1 {
  font-size: 40px;
  font-weight: 500;
  color: #152522;
}

.services div svg {
  font-size: 30px;
  color: #395143;
}

.services div h3 {
  font-size: 30px;
  font-weight: 400;
  color: #152522;
}

.services div p {
  width: 80%;
  margin: auto;
  font-size: 20px;
  margin-bottom: 30px;
}

/*----------Contact Section-------------*/
.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
  height: 500px;
}

.contact div h2 {
  font-size: 40px;
  font-weight: 500;
  color: #152522;
}

.connect {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*-------------Footer Section------------*/
footer {
  margin-top: 20px;
  text-align: center;
  height: 150px;
}

footer h3 {
  font-size: 30px;
  font-weight: 400;
  color: #152522;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.footer::before,
.footer::after {
  content: '';
  height: 3px;
  flex: 1;
  background-color: black;
}

input[type='text'] {
  width: 300px;
  border: 1px solid #374e40;
  height: 2.5rem;
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 7px;
}

input[type='email'] {
  width: 300px;
  height: 2.5rem;
  border-radius: 4px;
  border: 1px solid #374e40;
  font-size: 18px;
  margin-bottom: 7px;
}

input:focus {
  outline: none;
}

textarea {
  width: 300px;
  height: 100px;
  border: none;
  font-size: 18px;
  border: 1px solid #374e40;
  border-radius: 4px;
}

textarea:focus {
  outline: none;
}

button[type='submit'] {
  width: 300px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.arrow-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  background-color: #152522;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
}

.arrow-icon:hover {
  transform: scale(1.3);
}

/*Responsive Design*/
@media (max-width: 1120px) {
  .services {
    height: 870px;
  }
}

@media (max-width: 1050px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
  }

  nav > a {
    display: block;
  }

  nav > ul {
    display: none;
  }
}

@media (max-width: 988px) {
  .hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 120px;
    height: 450px;
  }

  .hero-info {
    width: 80%;
    font-size: 20px;
  }

  .hero p:nth-child(3) {
    margin-bottom: 25px;
  }
}

@media (max-width: 900px) {
  .about p.about-info {
    width: 80%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    height: 500px;
    margin: 90px 0px 100px;
  }

  input[type='text'] {
    width: 400px;
  }

  input[type='email'] {
    width: 400px;
  }

  textarea {
    width: 400px;
  }

  button[type='submit'] {
    width: 400px;
  }

  .contact-details {
    margin-bottom: 30px;
  }

  .message {
    padding: 0px 20%;
  }

  .hero {
    margin-top: 100px;
  }
}

@media (max-width: 850px) {
  .hero {
    margin-top: 120px;
  }

  .about {
    height: 400px;
    padding-top: 30px;
  }

  .skills {
    height: 750px;
  }

  .skills div.skill-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px 90px;
  }

  .section {
    width: 55%;
  }

  .contact {
    padding-bottom: 50px;
  }
}

@media (min-width: 450px) and (max-width: 850px) {
  .services {
    height: 30%;
    margin-bottom: 15%;
  }
}

@media (max-width: 743px) {
  nav .logo-2 {
    display: block;
  }

  nav .logo-1 {
    display: none;
  }
}

@media (max-width: 695px) {
  .hero-info {
    width: 95%;
  }

  .services {
    height: 950px;
    margin-bottom: 110px;
  }

  .section {
    width: 70%;
  }
}

@media (max-width: 692px) {
  .services {
    height: 960px;
    margin-bottom: 110px;
  }
}

@media (max-width: 690px) {
  .services {
    height: 1030px;
    margin-bottom: 110px;
  }
}

@media (max-width: 600px) {
  .services {
    height: 1050px;
    margin-bottom: 110px;
  }
}

@media (max-width: 599px) {
  .services {
    height: 1130px;
    margin-bottom: 110px;
  }
}

@media (max-width: 542px) {
  .services {
    height: 1140px;
    margin-bottom: 110px;
  }
}

@media (max-width: 520px) {
  .services {
    height: 1210px;
    margin-bottom: 110px;
  }
}

@media (max-width: 477px) {
  .services {
    height: 1230px;
    margin-bottom: 110px;
  }
}

@media (max-width: 472px) {
  .services {
    height: 1300px;
    margin-bottom: 110px;
  }
}

@media (max-width: 450px) {
  .hero {
    margin-top: 140px;
    text-align: center;
  }

  .hero-info {
    width: 90%;
    font-size: 14px;
    line-height: 2rem;
  }

  .about {
    margin-bottom: 70px;
  }

  .about p.about-info {
    width: 90%;
  }

  .section {
    width: 90%;
  }

  .services {
    height: 1120px;
    margin-bottom: 120px;
  }

  .services div p {
    width: 95%;
    margin-bottom: 20px;
  }

  .contact {
    padding-bottom: 50px;
  }

  .contact-details {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
}
