/* Global Styles */
:root {
  --primary-color: rgb(229, 9, 20);
  --dark-color: #141414;
  --light-color: #f4f4f4;
}

/* Buttons */
.btn {
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 0.25rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
}

.btn-lg {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  min-height: 3.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background: #000;
}

.header {
  padding: 0px 30px;
  height: 110vh;
  position: relative;
  background: url('background.jpg') no-repeat center center/cover;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: inset 30px 30px 500px #000000, inset -30px -30px 500px #000000;
}

.header::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1%;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgba(0, 0, 0);
  /* border-top-width: 60px; */
  border-top-width: 3rem;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  background: linear-gradient(
    to top,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}

.header-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.header-top svg {
  width: 9.25rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  margin-left: 0;
  color: var(--primary-color);
  fill: currentColor;
}

.header-top a {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.header .header-content {
  color: #fff;
  position: relative;
  z-index: 2;
  /* width: 40%; */
  /* margin: auto; */
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; */
  margin-top: 5rem;
  /* border: 1px solid red; */
}

.header-content h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.header-content p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 2.2rem;
  margin-top: 1rem;
}

.header-content h3 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.header .form {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  width: 46%;
  margin: auto;
  color: #fff;
  z-index: 3;
  position: relative;
  gap: 4px;
  margin-top: 4px;
  font-weight: 500;
}

.header .form div {
  flex: 2;
}

.header .form div input {
  flex: 1;
}

.header .form div {
  border: 1px solid #999;
  border-radius: 5px;
  background-color: transparent;
  flex-direction: column;
  height: 3.5rem;
  padding: 10px;
}

.header .form div input {
  /* border: 1px solid green; */
  background-color: #0f0f0f;
  color: inherit;
  width: 100%;
  font-size: 13px;
  background: none;
  border: none;
}

.create div .form div input:focus {
  outline: none;
}

.header .form div input:focus {
  outline: none;
}

.header .form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
}

.container {
  width: 80%;
  margin: auto;
}

.trending {
  color: #fff;
}

.trending h2 {
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.trending div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.trending div img {
  border-radius: 0.5rem;
  width: 160px;
  height: 200px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.trending div img:hover {
  transform: scale(1.075);
}

.reasons {
  margin-top: 70px;
}

.reasons h1 {
  color: #fff;
  margin-bottom: 25px;
  font-weight: 400;
}

.reasons div p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.reasons div h3 {
  color: #fff;
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 22px;
}

.reasons .reasons-details {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2px;
  /* justify-items: center; */
}

.reasons .reasons-details div {
  border-radius: 0.7rem;
  width: 230px;
  height: 350px;
  padding: 1.5rem 1rem 8rem 1rem;
  background-image: linear-gradient(to bottom, #1b1e3c, rgb(24, 1, 24));
  position: relative;
}

.reasons .reasons-details div span svg {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.faqs {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.faqs h1 {
  margin-bottom: 1rem;
  color: var(--light-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.faqs h3 {
  background-color: rgb(45, 45, 45);
  color: rgb(255, 255, 255);
  transition: background-color 250ms;
  padding: 1.5rem;
  margin-bottom: 10px;
}

.faqs h3:hover {
  background-color: rgb(71, 71, 71);
}

.faqs h3 button {
  cursor: pointer;
  border: none;
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
}

.faqs h3 p {
  display: none;
}

.create {
  padding: 0px 10%;
}

.create div {
  text-align: center;
}

.create div h3 {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.create div .form {
  /* border: 1px solid blue; */
  display: flex;
  gap: 5px;
}

.create div .form div {
  /* border: 1px solid red; */
  border: 1px solid #999;
  width: 73%;
  padding: 13px;
  text-align: left;
  border-radius: 3px;
}

.create div .form div label {
  color: white;
}

.create div .form div input {
  width: 100%;
  background: none;
  border: none;
  color: white;
}

.create div .form div input:focus {
  outline: none;
}

.footer {
  margin-top: 3rem;
  margin-bottom: 9rem;
}

.footer a {
  color: #999;
  font-size: 1rem;
}

.footer > a {
  display: block;
  margin-bottom: 2.5rem;
}

.footer-cols {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.footer-cols a {
  margin-bottom: 1rem;
  display: inline-block;
}

.footer > div:nth-child(3) {
  display: inline-flex;
  gap: 2px;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid #999;
  padding: 4px;
  border-radius: 3px;
}

.footer > div:nth-child(3) select {
  border: none;
  color: var(--light-color);
  background: inherit;
  font-size: inherit;
}

.footer > div:nth-child(4) {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  font-weight: 400;
}
