* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a202c;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  width: 25%;
  margin: 0px auto;
}

.section1 {
  margin-bottom: 30px;
}

.section1-up {
  background: #4fd1c5;
  color: #fff;
}

.section1-down {
  background: #fff;
}

.section1-down h3,
.dark {
  color: #000;
}

.section1-down button {
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.section1-up,
.section1-down {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.section2 {
  border: 2px solid #4fd1c5;
  margin-bottom: 30px;
}

.section2-up {
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #4fd1c5;
}

.section2-down {
  display: flex;
}

.left,
.right {
  text-align: center;
  flex: 1;
  padding: 10px 0;
}

.left {
  border-right: 3px solid #4fd1c5;
}

.expense {
  color: red;
}

.income {
  color: green;
}

.section3 {
  text-align: center;
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.section3 h2 {
  margin-bottom: 10px;
  color: #fff;
}

.section3 form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form > * {
  margin-bottom: 15px;
}

input {
  height: 40px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #fff;
}

textarea {
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
}

select {
  height: 35px;
  padding: 10px;
  border: none;
}

form button {
  height: 30px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.section4 .history {
  margin-bottom: 10px;
  text-align: center;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
}
.transaction .icon {
  cursor: pointer;
  font-size: 20px;
}

.icon:hover {
  color: red;
}

.par {
  margin: 5px 0px;
}

.transaction small {
  margin-bottom: 5px;
  display: block;
}
