* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica';
}

.container {
  background-color: #f2f4f7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1px;
  padding: 0 50px;
}

.right {
  width: 42%;
}

.right h2 {
  margin-top: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
}

.left {
  width: 35%;
  background-color: #fff;
  height: 360px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding-top: 15px;
}

input[type='text'],
input[type='password'] {
  width: 90%;
  height: 3.5rem;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  font-size: 16px;
  opacity: 0.3;
  margin-top: 10px;
}

button {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 3rem;
  background-color: #1877f2;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgotten {
  border-bottom: 1px solid lightgray;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.forgotten a {
  text-decoration: none;
}

.forgotten a:hover {
  text-decoration: underline;
}

.create-acct {
  text-decoration: none;
  padding-top: 20px;
}

.create-acct a {
  display: inline-block;
  text-decoration: none;
  margin-top: 25px;
  width: 50%;
  height: 3.3rem;
  margin: auto;
  background-color: #36a420;
  border-radius: 5px;
  padding-top: 13px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.create-acct a:hover {
  background-color: #2b8b18;
}

/* Responsive CSS for stacking main over aside */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  .right,
  .left {
    width: 100%;
  }

  .right h2 {
    width: 100%;
    text-align: center;
  }

  .left {
    margin-top: 20px;
  }

  p.create-acct a {
    width: 100%;
  }
}
